:root {
    --headings-color: #053a5d;
    --hover-color: #87CEFA;
    --background-color: #c0e7ff;
    --primary-font: 'Optima', sans-serif;
    --secondary-font: 'FreeMono', monospace;
    --light-theme: #ffef95;
    --dark-theme-header: #151e27;
    --dark-theme-background: #0f1b2d;
    --dark-hover-color: #012740;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font, Arial, sans-serif);
    background-color: var(--background-color, #ffffff);
    color: black;
}

body.dark-theme {
    background-color: var(--dark-theme-background, #000000);
    color: rgba(255, 255, 255, 0.85);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font, Arial, sans-serif);
    color: var(--headings-color, #000000);
}

body.dark-theme h1, body.dark-theme h2, body.dark-theme h3, body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
    color: var(--light-theme, #ffffff);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headings-color, #000000);
    border-radius: 15px;
    margin-bottom: 20px;
}



nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
}

nav ul li {
    justify-content: center;
    padding: 1em 1em;
}

nav ul li a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

a:hover {
    color: var(--hover-color, #ffffff);
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    justify-items: center;
    align-self: flex-end;
    width: 100%;
}

.toggle {
    position: relative;
    margin-right: 10px;
    border:#d6c356 solid 2px;
    border-radius: 24px;
    width: 50px;
    height: 24px;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: var(--light-theme, #ffffff);
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--headings-color, #000000);
    border-radius: 50%;
    transition: 0.3s;
}

.toggle input:checked+.slider {
    background-color: var(--headings-color, #000000);
}

.toggle input:checked+.slider::before {
    transform: translateX(26px);
    background-color: var(--light-theme, #ffffff);
}

@media (max-width: 400px) {
    nav ul li {
        padding: 0.7em 0.7em;
    }
    nav ul li a {
        font-size: 0.9em;
    }
    .toggle {
        width: 40px;
    }
    .toggle input:checked+.slider::before {
        transform: translateX(16px);
    }
}

@media (max-width: 200px) {
    .toggle input:checked+.slider::before {
        transform: translateX(12px);
    }
}